*.iml
.gradle
/.idea/caches
/.idea/modules.xml
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/kotlinScripting.xml
/.idea/misc.xml
/.idea/navEditor.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
