<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <application
        android:name=".Preloved"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_icon_preloved"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon_preloved"
        android:supportsRtl="true"
        android:theme="@style/Theme.Preloved"
        tools:targetApi="33">
        <activity
            android:name="com.arifwidayana.navigation.MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <nav-graph android:value="@navigation/main_nav" />
        </activity>
    </application>

</manifest>